{% comment %}
  Simple post info include for backward compatibility
{% endcomment %}
<div class="post-info">
  {% if include.author %}
    <span class="post-author">
      {% assign author_data = site.data.authors[include.author] | default: site.data.authors[site.author] %}
      {% if author_data %}
        {{ author_data.name | default: include.author }}
      {% else %}
        {{ include.author }}
      {% endif %}
    </span>
  {% endif %}
  {% if include.date %}
    <time datetime="{{ include.date | date_to_xmlschema }}">
      {{ include.date | date: "%b %-d, %Y" }}
    </time>
  {% endif %}
</div>
